{% extends 'base_template.html' %}
{% load staticfiles %}

{% block content %}

    <div class="centre-text">

        <h2>Photo Tag Recommendation Evaluation</h2>

        <p class="centred">This is where the instructions and such will go.
        This is where the instructions and such will go.
        This is where the instructions and such will go.
        This is where the instructions and such will go.
        This is where the instructions and such will go.
        This is where the instructions and such will go.
        This is where the instructions and such will go.
        This is where the instructions and such will go.
        This is where the instructions and such will go. </p>

        <a class="btn btn-info" href="{% url 'upload_image' %}">Begin</a>

    </div>

{% endblock %}